//color

$base-color: #c6538c;
$border-dark-color: rgba($base-color, 0.88);
$backgrourd-color: #000;
$border-color: grey;

// commom element
$height-configre-header: 3em;
$height-configre-footer: $height-configre-header;
$height-slider-controls: $height-configre-header;
