.header-wrapper {
  height: 60px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;

  .headerLogo {
    display: flex;
    &_imgLG {
      img,
      svg {
        width: 150px;
        height: auto;
      }
    }
  }
  .headerContent {
    p {
      display: flex;
      justify-content: center;
      margin: 0;
    }
    &_logout {
      cursor: pointer;
    }
  }
}
